<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>NewsAgregator</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>NewsAgregator.java</welcome-file>
  </welcome-file-list>
    <servlet>
		<servlet-name>PrettyJson</servlet-name>
		<servlet-class>com.hackbulgaria.gson.PrettyJson</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PrettyJson</servlet-name>
		<url-pattern>/Pretty</url-pattern>
	</servlet-mapping>
  
</web-app>